.terms-wrapper {
  padding: 100px;
}

.terms-content h5 {
  margin-bottom: 30px;
  font-size: 24px;
}

.terms-content p {
  margin-bottom: 30px;
  font-size: 16px;
}

.terms-content li {
  font-size: 16px;
  margin-left: 10px;
  list-style-type: circle;
}

@media screen and (max-width: 720px) {
  .terms-wrapper {
    padding: 100px 16px;
  }
}